{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/templatemo-glossy-touch.css' %}">


</head>
<body>
    <div class="bg-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>


    <header>
        <div class="container">
            <nav class="glass">
                <div class="logo" >
                    {% if logo %}
                        <a href="{% url 'core:home' %}">
                            <img src="{{ logo.image.url }}" style="height:80px">
                        </a>
                    {% endif %}
                    
                </div>
                <div class="nav-links">
                    <a href="{% url 'core:about' %}">About</a>
                    <a href="{% url 'core:service' %}">Services</a>
                    <a href="{% url 'core:training' %}">Courses</a>
                    <a href="{% url 'core:contact_us' %}">Contact</a>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
    <div id="footer">
        <div class="container">
            <footer class="glass">
                <div class="footer-content">
                    <div class="footer-links">
                        <a href="#" >About Us</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Service</a>
                        <a href="#">XML Sitemap</a>
                        <a href="#">Contact</a>
                    </div>
                    <div class="copyright">
                        &copy; 2025 Glossy Touch. All rights reserved. Crafted with modern web technologies. 
                        Provided by <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
<script src="{% static 'js/templatemo-glossy-touch.js' %}"></script>
</body>
<style>

</style>
</html>